In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
file = pd.read_csv('D:\Data Science in Python\MachineLearning\LinearRegressionMultiple\homeprices (1).csv')
file

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [11]:
import math

median_val=math.floor(file.bedrooms.median())
median_val

4

In [15]:
#filling the NaN value with median and inserting it back into the file
file.bedrooms=file.bedrooms.fillna(median_val)
file

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [22]:
reg_model = linear_model.LinearRegression()
# area, bedrooms, age are the independent variables and price is the dependent/target variable
reg_model.fit(file[['area','bedrooms','age']], file.price)

LinearRegression()

In [23]:
reg_model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [24]:
reg_model.intercept_

221323.00186540443

In [26]:
predicted_val = math.floor(reg_model.predict([[3000,3,40]]))
predicted_val

C:\Users\NR\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

498408